@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
@import 'monokai-sublime';

@import 'config';
@import 'event-listener';

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  background-color: #EFEFEF;
}
pre, code {
  text-align: left;
}

.container {
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: $mobile) {
    max-width: 70%;
  }
}

.header {
  width: 100%;
  margin: 0;
  padding: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
          flex-shrink: 0;
  border: none;
  background-color: $primary-light-blue;
  box-shadow: $box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4,0,0.2, 1);
  transition-property: max-height,box-shadow;

  a {
    color: #FFF;
    text-decoration: none;
  }
}

.btn {
  display: block;
  color: #FFF;
  background-color: $primary-light-blue;
  border-radius: 2px;
  position: relative;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  box-shadow: $box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
              background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
              color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  vertical-align: middle;

  &.btn-standard {
    display: inline-block;
    padding: 0 15px;
  }

  &:hover {
    background-color: rgba($primary-light-blue, 0.9);
  }
}

// Heading
.heading {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  &.main-heading {
    margin: 1.75rem 0;
    font-weight: 100;
    line-height: 1.3;
  }
}

.section {
  padding: 5.625rem 1.25rem;
}

// List
.list {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }

  @media screen and (min-width: $mobile) {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
}
.horizontal-list {

  li {
    position: relative;
    @media screen and (min-width: $mobile) {
      display: table-cell;
      margin: 0 5px 5px 0;

      &:last-child {
        margin: 0;
      }
    }
  }
  a {
    color: #FFF;
    padding: 20px 0;
    margin: 0 0 5px 0;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    @extend .btn;
    line-height: normal;

    @media screen and (min-width: $mobile) {
      display: table-cell;
      width: 250px;
      height: 250px;
    }

    .text {
      @media screen and (min-width: $mobile) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.navigation {
  margin-top: 15px;
  -webkit-justify-content: center;
          justify-content: center;

  li {
    margin: 0 10px;
  }
}
